body{
    
    background: linear-gradient(rgb(193, 56, 37),rgb(249, 35, 6),rgb(200, 87, 81));
}
.container{
   
        display: grid;
        margin: 0 auto;
        text-align: center;
        border-radius: 10%;
        width: 80%;
        border: 5px solid white;
        margin-top: 200px;
        width: 60%;
}